<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>SkillFishOS</vendor>
  <action id="os.skillfish.remote-manager.ctl">
    <description>Manage the SkillFish Remote dashboard</description>
    <description xml:lang="it">Gestisci la dashboard SkillFish Remote</description>
    <message>Authentication is required to manage the remote dashboard</message>
    <message xml:lang="it">È richiesta l'autenticazione per gestire la dashboard remota</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/skillfish-remote-ctl</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
