[Desktop Entry]
Type=Application
Name=Mount ISO image
Name[it]=Monta immagine ISO
Name[pl]=Zamontuj obraz ISO
Name[uk]=Змонтувати образ ISO
Name[ru]=Подключить образ ISO
Name[es]=Montar imagen ISO
Name[pt]=Montar imagem ISO
Name[de]=ISO-Abbild einhängen
Name[fr]=Monter l'image ISO
Comment=Mount an ISO image with udisks2
Comment[it]=Monta una immagine ISO con udisks2
Comment[pl]=Zamontuj obraz ISO za pomocą udisks2
Comment[uk]=Змонтувати образ ISO через udisks2
Comment[ru]=Подключить образ ISO средствами udisks2
Comment[es]=Monta una imagen ISO con udisks2
Comment[pt]=Monta uma imagem ISO com o udisks2
Comment[de]=Ein ISO-Abbild mit udisks2 einhängen
Comment[fr]=Monter une image ISO avec udisks2
Exec=/usr/local/bin/skillfish-iso-mount %f
Icon=media-optical
NoDisplay=true
MimeType=application/x-cd-image;application/x-udf-image;application/x-iso9660-image;
Terminal=false
