[Desktop Entry]
Type=Application
Name=SkillFishOS Tuner
GenericName=Performance control
GenericName[it]=Controllo prestazioni
GenericName[pl]=Kontrola wydajności
GenericName[uk]=Керування продуктивністю
GenericName[ru]=Управление производительностью
GenericName[es]=Control del rendimiento
GenericName[pt]=Controle do desempenho
GenericName[de]=Leistungssteuerung
GenericName[fr]=Réglage des performances
Comment=Tune CPU, GPU, VRAM and fan
Comment[it]=Regola CPU, GPU, VRAM e ventola
Comment[pl]=Dostosuj CPU, GPU, VRAM i wentylator
Comment[uk]=Налаштуйте ЦП, ГП, VRAM і вентилятор
Comment[ru]=Настройка процессора, видеоядра, видеопамяти и вентилятора
Comment[es]=Ajusta CPU, GPU, VRAM y ventilador
Comment[pt]=Ajuste CPU, GPU, VRAM e ventoinha
Comment[de]=CPU, GPU, Grafikspeicher und Lüfter einstellen
Comment[fr]=Réglez le CPU, le GPU, la mémoire graphique et le ventilateur
Exec=/usr/local/bin/skillfish-tuner
Icon=/usr/share/icons/hicolor/256x256/apps/skillfish-tuner.png
Terminal=false
Categories=System;X-SkillFishOS;
Keywords=overclock;cpu;gpu;vram;ventola;fan;tuning;prestazioni;
StartupNotify=true
StartupWMClass=os.skillfish.Tuner
