[Desktop Entry]
Name=SkillFishOS Info
Name[it]=Info SkillFishOS
Name[pl]=Informacje o SkillFishOS
Name[uk]=Відомості про SkillFishOS
GenericName=System information
GenericName[it]=Informazioni di sistema
GenericName[pl]=Informacje o systemie
GenericName[uk]=Відомості про систему
Comment=Show hardware and operating system information
Comment[it]=Mostra informazioni su hardware e sistema operativo
Comment[pl]=Pokaz informacje o sprzecie i systemie operacyjnym
Comment[uk]=Показати відомості про обладнання та операційну систему
Exec=alacritty -e sh -c "fastfetch; echo; printf '%s\n' \"$(gettext -s 'Press Enter to close' 2>/dev/null || echo 'Press Enter to close')\"; read x"
Icon=/usr/share/icons/hicolor/256x256/apps/skillfish-tuner.png
Terminal=false
Type=Application
Categories=System;X-SkillFishOS;
Keywords=info;sistema;about;hardware;
